## In this notebook we will identify jet fuel pricing data

In [11]:
import pandas as pd

In [12]:
# https://stackoverflow.com/questions/20637439/skip-rows-during-csv-import-pandas

fuel = pd.read_csv('./data/raw/U.S._Gulf_Coast_Kerosene-Type_Jet_Fuel_Spot_Price_FOB_Monthly.csv', skiprows=4).rename(columns={'Month' : 'month_year', 'Series ID: PET.EER_EPJK_PF4_RGC_DPG.M Dollars per Gallon' : 'jet_fuel_price_per_gallon_usd'})
print(fuel.shape)
fuel.head()

(365, 2)

  month_year  jet_fuel_price_per_gallon_usd
0   Aug 2020                          1.112
1   Jul 2020                          1.084
2   Jun 2020                          0.983
3   May 2020                          0.686
4   Apr 2020                          0.606

In [13]:
# Create Year & Month Column
fuel['year'] = fuel['month_year'].apply(lambda x: int(x[4:8]))
fuel['month'] = fuel['month_year'].apply(lambda x: x[0:3]).map({'Jan' : 1, 'Feb' : 2, 'Mar' : 3, 'Apr' : 4, 'May' : 5, 'Jun' : 6, 'Jul' : 7, 'Aug' : 8, 'Sep' : 9, 'Oct' : 10, 'Nov' : 11, 'Dec' : 12})
fuel.head()

  month_year  jet_fuel_price_per_gallon_usd  year  month
0   Aug 2020                          1.112  2020      8
1   Jul 2020                          1.084  2020      7
2   Jun 2020                          0.983  2020      6
3   May 2020                          0.686  2020      5
4   Apr 2020                          0.606  2020      4

In [14]:
# Create Datetime Column
monthly = fuel['year'].astype(int).astype(str) + 'M' + fuel['month'].astype(int).astype(str)
from statsmodels.tsa.base.datetools import dates_from_str
monthly = dates_from_str(monthly)
fuel['year-month']= pd.DatetimeIndex(monthly)
fuel.head()

  month_year  jet_fuel_price_per_gallon_usd  year  month year-month
0   Aug 2020                          1.112  2020      8 2020-08-31
1   Jul 2020                          1.084  2020      7 2020-07-31
2   Jun 2020                          0.983  2020      6 2020-06-30
3   May 2020                          0.686  2020      5 2020-05-31
4   Apr 2020                          0.606  2020      4 2020-04-30

In [15]:
fuel = fuel.set_index('year-month').sort_index().drop(columns=['year', 'month', 'month_year']).rename(columns={'jet_fuel_price_per_gallon_usd' : 'fuel_usd_pergallon'})
fuel.head()

            fuel_usd_pergallon
year-month
1990-04-30               0.540
1990-05-31               0.515
1990-06-30               0.494
1990-07-31               0.535
1990-08-31               0.791

In [17]:
fuel.to_csv('./data/clean/fuelpricing_bymonth.csv')